body {
  margin: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #070404;
}
h2 {
  color: #2c3e50;
}
.landing header {
  text-align: center;
  position: relative;
}
.landing h1 {
    position: absolute;
    bottom: 10%;
    width: 100%;
    font-size: 2rem;
    color: rgb(249, 200, 215);
  }

.img-fluid{
  width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}
