:root {
  --max-width: 1024px;
  --container-width: 90%;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: var(--max-width);
    width: var(--container-width);
    margin: 0 auto;
}